@use "../../assets/sass/variables.scss" as *;

.punk-api__main {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    border: 1px solid $color-darkblue;
    padding: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }