@use "./assets/sass/_variables.scss" as *;

.punk-api{
  background-color: $color-orange;
  display: flex;
  border: 2px solid $color-darkblue;
  border-radius: 20px;
  margin: 20px;
  width: fit-content;

&__empty-search {
  padding: 20px;
  text-align: left;
  font-size: 14px;
  color: $color-lightgreen;
}

}