@use "../../assets/sass/variables.scss" as *;

.punk-api__nav {
    background-color: $color-lightgreen;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }